<!DOCTYPE html>
    <html lang="en"> 
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="views/styles.css">
        <link rel="stylesheet"
        href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css">
        <script type="module" src="views/utils.js"></script>
        <script type="module" src="views/data.js"></script>
        <title>html form</title>
    </head>
    <body>
        <div class="greeting"></div>
    </body>
</html>